<%= f.fields_for(:subscriptions) do |sub| %>		
	<label for="user_subscription_ids">Subscription Plans</label>
	<br>
	<% SubscriptionPlan.all.each do |plan| %>
		<input type="checkbox" name="user[subscription_ids][]" value="<%= plan.id %>">
			<%= "#{plan.name}, $#{plan.price}, #{plan.is_daily ? 'Daily' : 'Weekly'}" %> 
			<br>
	<% end %>
<% end %>


